.lazy-image-container {
  position: relative;
  width: 560px;
}

.lazy-image-container img {
  z-index: 0;
  opacity: 0;
}

.lazy-image-container.loaded img {
  opacity: 1;
  height: 100%;
  width: 100%;
}

.lazy-image-error-message {
  position: absolute;
  top: 50%;
  right: 50%;
}

.lazy-image-container.loaded .lazy-image-error-message {
  display: none;
}

.lazy-image-container.loaded .lazy-image-placeholder {
  display: none;
}

.lazy-background-image.loaded .lazy-image-placeholder {
  display: none;
}

.lazy-image-placeholder {
  position: absolute;
  top: 50%;
  right: 50%;
}

.lazy-background-image {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 270px;
}
